.credits{
    display: flex;
    flex-flow: row wrap;
    background-color: map-get($colors, filter);
    justify-content: space-between;
    padding: 2rem;
}

#author1{
    color: whitesmoke;
}

#author2{
    @extend #author1;
}

#contact1{
    @extend #author1;
    font-style: italic;
}

#contact2{
    @extend #contact1;
}

@include respond-to("pc") {
    .credits{
        background-color: map-get($colors , base)
    }
    #author1{
        @include circle(100px);
        background-color: map-get($colors, filter);
    }
    }